@using GamingVIVE.Models.GenreModels;

@model IEnumerable<GenreListItem>


<div>
    <h3 class="display-4" style="text-align:center; color: aqua; text-decoration:none;">Gaming Systems</h3>
</div>

<nav class="gameNav">
    <a style=" text-decoration: none; color: black; margin-right: 2%;" asp-controller="Game" asp-action="GameSettings">Games</a>
    <a style="text-decoration:none; color: black; margin-right:2%;" asp-controller="GamingSystem" asp-action="GamingSystemSettings">Gaming Systems</a>
    <a style="text-decoration:none; color: grey; margin-right:2%;" asp-controller="Genre" asp-action="GenreSettings">Genres</a>
    <a style="text-decoration:none; color:black; margin-right:2%;" asp-controller="MontizedCategory" asp-action="MontizedCategorySettings">Categories</a>
    <a style="text-decoration:none; color:black; margin-right:2%;" asp-controller="GamingSystemGame" asp-action="ConnectionSettings">Connections</a>
</nav>

<div class="createBar">
    <a style="text-decoration:none; color: white; margin-right: 3px; margin-left: 3px;" asp-controller="Genre" asp-action="Create">Create Genre</a>   |
    <a style="text-decoration:none; color: white; margin-right: 3px; margin-left: 3px;" asp-controller="#" asp-action="#">Connctions</a>   |

    <div class="navbar-left" style=" margin-left: auto; display:flex;">
        <form method="get" style="margin-left: auto;" action="@Url.Action("GetGenreByNameSettings", "Genre")">
            <input type="text" name="search" id="search" placeholder="Find Genre By Name" />
            <button type="submit" class="button">Search</button>
        </form>

        @using (Html.BeginForm("GetGenreByIdSettings", "Genre", FormMethod.Get))
        {
            <ul class="nav navbar-nav" style="display:flex;">
                <li>
                    @Html.TextBox("GenreId",null, new { @style= "height: 100%;" , @placeholder = "Find Genre By Id"})
                    <input style="font-size:15px;" type="submit" value="Search" placeholder="SearchById" />
                </li>
            </ul>
        }
    </div>
</div>

<h1 class="connectionBox">  Connections: A way to add/edit/delete a game from or to a game pathway such as GamingSystems, Genre, and Categories. </h1>



<div class="gamebox">
    @foreach (var item in Model)
    {
        <a style="text-decoration:none; color:black;" asp-controller="Genre" asp-action="GetGenreByIdSettings" asp-route-GenreId=" @item.GenreId">
            <div class="game">

                <div style="display:flex; height:80%; width:100%;">
                    <h1 style="font-size:20px; font:bolder; margin: auto; flex-wrap:wrap; ">@item.Name</h1>
                    <h1 style="font-size:20px; font:bolder; margin: auto; flex-wrap:wrap; ">@item.GenreId</h1>
                </div>


                <div style="background-color:antiquewhite; height:20%; text-align:center;">
                    <a style="text-decoration:none; color:black; margin-right:2%;" asp-controller="Genre" asp-action="DeleteGenre" asp-route-GenreId="@item.GenreId">Delete</a>

                    <a style="text-decoration:none; color:black; margin-right:2%;" asp-controller="Genre" asp-action="EditGenre" asp-route-GenreId="@item.GenreId">Edit</a>
                </div>

            </div>
        </a>
    }
</div>
