@using GamingVIVE.Models.MontizedCategoryModels;

@model IEnumerable<MontizedCategoryListItem>


<div>
    <h3 class="display-4" style="text-align:center; color: aqua; text-decoration:none;">Categories</h3>
</div>

<nav class="gameNav">
    <a style=" text-decoration: none; color: black; margin-right: 2%;" asp-controller="Game" asp-action="GameSettings">Games</a>
    <a style="text-decoration:none; color: black; margin-right:2%;" asp-controller="GamingSystem" asp-action="GamingSystemSettings">Gaming Systems</a>
    <a style="text-decoration:none; color: black; margin-right:2%;" asp-controller="Genre" asp-action="GenreSettings">Genres</a>
    <a style="text-decoration:none; color: grey; margin-right:2%;" asp-controller="MontizedCategory" asp-action="MontizedCategorySettings">Categories</a>
    <a style="text-decoration:none; color:black; margin-right:2%;" asp-controller="GamingSystemGame" asp-action="ConnectionSettings">Connections</a>
</nav>

<div class="createBar">
    <a style="text-decoration:none; color: white; margin-right: 3px; margin-left: 3px;" asp-controller="MontizedCategory" asp-action="Create">Create Category</a>   |
    <a style="text-decoration:none; color: white; margin-right: 3px; margin-left: 3px;" asp-controller="#" asp-action="#">Connctions</a>   |

    <div class="navbar-left" style=" margin-left: auto; display:flex;">
        <form method="get" style="margin-left: auto;" action="@Url.Action("GetMontizedCategoryByNameSettings", "MontizedCategory")">
            <input type="text" name="search" id="search" placeholder="Find Category By Name" />
            <button type="submit" class="button">Search</button>
        </form>

        @using (Html.BeginForm("GetMontizedCategoryByIdSettings", "MontizedCategory", FormMethod.Get))
        {
                <ul class="nav navbar-nav" style="display:flex;">
                    <li>
                    @Html.TextBox("MontizedCategoryId",null, new { @style= "height: 100%;" , @placeholder = "Find Category By Id"})
                        <input style="font-size:15px;" type="submit" value="Search" placeholder="SearchById" />
                    </li>
                </ul>
        }
    </div>
</div>

<h1 class="connectionBox">  Connections: A way to add/edit/delete a game from or to a game pathway such as GamingSystems, Genre, and Categories. </h1>



<div class="gamebox">
    @foreach (var item in Model)
    {
        <a style="text-decoration:none; color:black;" asp-controller="MontizedCategory" asp-action="GetMontizedCategoryByIdSettings" asp-route-MontizedCategoryId=" @item.MontizedCategoryId">
                <div class="game">

                    <div style="display:flex; height:80%; width:100%;">
                        <h1 style="font-size:20px; font:bolder; margin: auto; flex-wrap:wrap; ">@item.Name</h1>
                    <h1 style="font-size:20px; font:bolder; margin: auto; flex-wrap:wrap; ">@item.MontizedCategoryId</h1>
                    </div>


                    <div style="background-color:antiquewhite; height:20%; text-align:center;">
                    <a style="text-decoration:none; color:black; margin-right:2%;" asp-controller="MontizedCategory" asp-action="DeleteMontizedCategory" asp-route-MontizedCategoryId="@item.MontizedCategoryId">Delete</a>

                    <a style="text-decoration:none; color:black; margin-right:2%;" asp-controller="MontizedCategory" asp-action="EditMontizedCategory" asp-route-MontizedCategoryId="@item.MontizedCategoryId">Edit</a>
                    </div>

                </div>
            </a>
    }
</div>
